<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="container">
        <h1>Arcade Login</h1>
        <form action="/login" method="post">
            <p>Enter your Roll No.:</p>
            <input type="text" name="name" autocomplete="off" placeholder="e.g. 2025999999" required>
            <br>
            <button>Enter Arena</button>
        </form>
    </div>
    <script src="/static/login.js"></script>
</body>
</html>